
*
{
    margin: 5px;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
/*------navigation-----*/
#nav-bar
{
position:;
top: 0;
z-index: 10;
}
.navbar-brand img{
    height: 60px;
    padding-left: 30px;
    margin-left: 100px;
}
.navbar-nav li{
padding: 0 10px;

}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
color:#007bff; !important!;

}

.color{
   color: #007bff;
}
.color2{
    color: red;
}
.row{
    margin-top: 10px;
    margin-left: 15px;
    display:flex;
   align-items: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 500px;
    margin-left: 100px;
   

}
.col-2 img{
    max-width: 100%;
    padding:10px 0px;
    
    
}
.btn{
    display: inline-block;
    background: #007bff;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 30px;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #d30867;
}
.col-4{
    flex-basis: 10%;
    padding: 5px;
    min-width: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;

}
.col-4 img{
    width: 100%;
}
.row{
    position: relative;
    text-align: start;
}

.text{
    text-align: center;
    margin-bottom: 20px;
   padding: 10px;
}
.Testimonial{

text-align: center;
    margin-bottom: 20px;
   padding: 10px;
   margin-top: 80px;
}

 

.man-pic img{
    position: left;
    width: 150px;
    height: 150px;
    margin-left: 300px;
    margin-top: 50px;
}
.contain{
    position: relative;
    margin-top: 100px;
}
.footer-area{
 margin-top: 80px;
    margin-bottom: 10px;
    float: left;
    padding: px;
   height: 400px;
   width: 100%;

    background-color: black;
    color:whitesmoke;

}
.col-md-4{
  margin-top: 50px;
}
.col-md-2{
    margin-top: 50px;
}
.footer-copyright{
    margin-top: 100px;
}